  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p class="flow-text">{{post.title}}</p>
        </div>
        <div class="card-action">
          <a href="view-post">View Full Post</a>
        </div>
      </div>
    </div>
  </div>