{{#each post}}
<div class="col s12">
     <div class="card horizontal">
          <div class="card-stacked">
               <div class="card-content">
                    <p class="flow-text">{{title}}</p>
               </div>
               <div class="card-action">
                    <p>By {{user.username}} on {{format_date created_at}}</p>
                    <a href="/posts/{{id}}">View Full Post</a>
               </div>
          </div>
     </div>
</div>
{{/each}}

<script src="/javascript/dashboard.js"></script>