<div class="container">
     <div class="row">
          <div class="col s12">
               <h2>Add A New Blog Entry</h2>
          </div>
     </div>
     <div class="row">
          <div class="col s12 center-align">
               <p>Blog Title: </p>
          </div>
          <div class="input-field col s12">
               <input placeholder="Title" id="blog-title" name="blog-title" type="text"> 
          </div>
     </div>
     <div class="row">
          <div class="col s12 center-align">
               <p>Blog Entry: </p>
          </div>
          <div class="input-field col s12">
               <textarea id="blog-text" name="blog-text" class="materialize-textarea" placeholder="Your Text Here"></textarea>
          </div>
     </div>
     <div class="row">
          <div class="col s3 offset-s9">
              <button class="btn waves-effect waves-light" id="submit-post-button">
                    <i class="material-icons left">done</i>Submit Blog
               </button> 
          </div>
     </div>
</div>

<script src="/javascript/add-blog.js"></script>