<h2 class="page-title center-align">Sign up to start blogging!</h2>
<form class="col s12">
     <div class="row">
          
          <div class="input-field col s12">
               <p>Username: </p>
               <input placeholder="Username" id="username-signup" type="text" class="validate">
          </div>
          <div class="input-field col s12">
               <p>Email Address: </p>
               <input placeholder="Email" id="email-signup" type="text" class="validate">
          </div>
          <div class="input-field col s12 m6">
               <p>Password: </p>
               <input placeholder="Password" id="password-signup" type="password" class="validate">
          </div>
     </div>
     </div>
     <div class="row">
          <div class="col s3 offset-s9">
               <button class="btn waves-effect waves-light" id="register-submit-button">
                    <i class="material-icons left">send</i>Submit
               </button>
          </div>
     </div>
</form>