{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form p-1">
    <div>
        <label for="comment-body" class="d-none">Add comment:</label>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="btn">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}